.bk-foot {
  width: 900px;
  margin: 0 auto;
  padding: 40px 40px 20px;
  background: #f6f6f6;
  border-radius: 0 0 6px 6px;
  color: #666;
  zoom: 1;
  &:after {
    content: '';
    display: table;
    clear: both;
  }
  .logo {
    display: inline;
    float: left;
    margin-right: 50px;
  }
  .richtext {
    display: inline;
    float: left;
    width: 520px;
    margin-right: 70px;
    line-height: 24px;
    font-size: 12px;
    color: #999;
    span {
      color: #666;
    }
  }
  .qr-code {
    display: inline;
    float: right;
    margin-top: -12px;
  }
  .cpr {
    clear: both;
    padding-top: 40px;
    text-align: right;
    font-size: 12px;
    color: #666;
    a {
      color: #666;
      text-decoration: none;
    }
    .gray {
      color: #999;
    }
  }
}

.person-popup {
  width: 450px;
  font-size: 12px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0,0,0,.11);
  overflow: hidden;
  .hd {
    position: relative;
    padding-top: 220px;
    .pic {
      position: absolute;
      left: 50%;
      top: 80px;
      width: 141px;
      height: 141px;
      margin: 0 0 0 -70px;
      z-index: 5;
      img {
        max-width: 100%;
      }
    }
    .bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 166px;
      background: #0f69b1;
      z-index: 3;
    }
    .close {
      position: absolute;
      top: 30px;
      right: 30px;
      width: 20px;
      height: 20px;
      background: url(../images/sprites.png) -180px -250px no-repeat;
      cursor: pointer;
      z-index: 4;
    }
    .name {
      margin: 10px 0;
      text-align: center;
      font-size: 24px;
      font-family: 'Microsoft Yahei', arial;
      color: #110f0f;
    }
    .info {
      margin: 10px 0 20px;
      text-align: center;
      color: #999;
    }
    .richtext {
      margin-bottom: 20px;
      padding: 0 45px;
      line-height: 20px;
      color: #6c6c76;
    }
  }
  .bt {
    padding: 15px 40px 20px;
    line-height: 20px;
    background: #e8e8e8;
    color: #6c6c76;
  }
}

.d-titleBar {
  display: none;
}
.d-buttons {
  display: none;
}

.d-mask {
  background: #000;
  opacity: .7;
  filter: alpha(opacity=70);
}
