.bk-icon-search {
  display: inline-block;
  width: 16px;
  height: 16px;
  font-size: 0;
  line-height: 0;
  background: url('../images/sprites.png') 0 0 no-repeat;
}

.bk-icon-close {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  font-size: 0;
  line-height: 0;
  background: url('../images/sprites.png') -160px -250px no-repeat;
}
