.bk-person-center {
  width: 980px;
  margin: 0 auto;
  //padding: 30px;
  font-size: 12px;
  background: #fff;
  .person-pic {
    position: relative;
    z-index: 10;
    width: 192px;
    height: 172px;
    margin: -160px 0 0 20px;
    padding: 5px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 9px rgba(0,0,0,.18);
  }
  .nav {
    position: relative;
    margin: -114px 0 0 280px;
    zoom: 1;
    z-index: 10;
    &:after {
      content: '';
      display: table;
      clear: both;
    }
    li {
      float: left;
      display: inline;
      width: 106px;
      height: 76px;
      margin-right: 16px;
      padding: 10px 0 6px 4px;
      line-height: 1.5;
      font-family: 'Microsoft Yahei', arial;
      text-align: center;
      text-decoration: none;
      background: url(../images/sprites.png) 0 -350px no-repeat;
      a {
        text-decoration: none;
        color: #000;
      }
      b {
        display: inline;
        float: left;
        width: 100%;
        font-size: 24px;
      }
      span {
        font-size: 14px;
      }
    }
    .active {
      background-position: 0 -250px;
      a {
        color: #fff;
      }
    }
  }
  .inner {
    background-color: #f8f8f8;
    overflow: hidden;
    zoom: 1;
    &:after {
      content: '';
      display: table;
      clear: both;
    }
    .aside {
      display: inline;
      float: left;
      margin-right: 10px;
      margin-bottom: -9997em;
      padding-bottom: 9999em;
      padding-top: 40px;
      padding-left: 15px;
      padding-right: 15px;
      width: 220px;
      background-color: #ededed;
      .name {
        margin-bottom: 10px;
        font-family: 'Microsoft Yahei', arial;
        font-size: 24px;
        text-align: center;
        color: #033;
      }
      label {
        display: block;
        text-align: center;
        font-size: 14px;
        color: #999;
      }
      .ctrl {
        padding: 20px 0;
        text-align: center;
        .btn {
          display: inline-block;
          vertical-align: middle;
          padding: 8px 12px;
          background: #fff;
          text-decoration: none;
          border-radius: 2px;
          color: #666;
          i, span {
            display: inline-block;
            vertical-align: middle;
          }
          i {
            margin-right: 5px;
          }
        }
      }
      .info {
        margin-bottom: 10px;
        line-height: 24px;
        color: #666;
      }
      .line {
        margin: 10px 0;
        border-bottom: 1px dotted #d0d0d0;
      }
      dl {
        line-height: 24px;
        color: #666;
      }
    }
    .main {
      display: inline;
      float: left;
      margin-bottom: -9999em;
      padding-bottom: 9999em;
    }
  }

  .center-main {
    padding: 40px 0 0 40px;
    h3 {
      margin-bottom: 20px;
      font-size: 18px;
      font-family: 'Microsoft Yahei', arial;
      i {
        margin-right: 10px;
      }
      b {
        display: inline-block;
        vertical-align: middle;
      }
    }
    .course {
      position: relative;
      h4 {
        position: relative;
        .all-km {
          margin-right: 10px;
        }
        b {
          display: inline-block;
          vertical-align: bottom;
          font-family: 'Microsoft Yahei', arial;
          font-size: 18px;
        }
      }
      .all-km {
        display: inline-block;
        vertical-align: middle;
        width: 455px;
        height: 72px;
        line-height: 72px;
        font-size: 52px;
        font-family: arial;
        text-indent: 14px;
        letter-spacing: 28px;
        background: url(../images/p-km.png) 0 0 no-repeat;
        color: #fff;
      }
      .list {
        position: relative;
        padding-left: 62px;
        padding-bottom: 40px;
      }
      .line {
        position: absolute;
        left: 31px;
        top: 0;
        width: 5px;
        height: 100%;
        background: #8baae3;
      }
      .point {
        position: absolute;
        left: -38px;
        top: 80px;
        width: 20px;
        height: 20px;
        background: #8baae3;
        border-radius: 10px;
      }
      .arrow {
        position: absolute;
        left: -12px;
        top: 85px;
        width: 0;
        height: 0;
        border-width: 6px;
        border-style: dashed solid dashed dashed;
        border-color: transparent #ddd transparent transparent;
        i {
          position: absolute;
          left: -5px;
          top: -6px;
          width: 0;
          height: 0;
          border-width: 6px;
          border-style: dashed solid dashed dashed;
          border-color: transparent #fff transparent transparent;
        }
      }
      .item {
        position: relative;
        padding-top: 30px;
        .cnt {
          padding: 20px;
          background: #fff;
          border: 1px solid #ddd;
          border-radius: 6px;
          zoom: 1;
          &:after {
            content: '';
            display: table;
            clear: both;
          }
        }
        dl {
          display: inline;
          float: left;
          width: 280px;
          dt {
            margin-bottom: 12px;
            font-size: 14px;
            font-weight: 700;
            a {
              color: #06d;
            }
          }
          a {
            text-decoration: none;
          }
          .km-info {
            margin-bottom: 10px;
            font-family: 'Microsoft Yahei', arial;
            font-weight: 700;
          }
          dd {
            color: #666;
          }
        }
        ul {
          display: inline;
          float: left;
          li {
            display: inline;
            float: left;
            margin-left: 10px;
            width: 74px;
            height: 74px;
          }
        }
      }
    }
  }

  .club-list {
    width: 640px;
    padding: 20px 0 0 15px;
    h3 {
      margin-bottom: 22px;
      padding-bottom: 12px;
      border-bottom: 1px solid #dfdfdf;
      color: #333;
    }
    ul {
      zoom: 1;
      &:after {
        content: '';
        display: table;
        clear: both;
      }
    }
    li {
      display: inline;
      float: left;
      width: 48%;
      margin-right: 2%;
      margin-bottom: 30px;
    }
    .pic {
      display: inline;
      float: left;
      width: 110px;
      height: 100px;
      margin-right: 20px;
      text-align: center;
      white-space: nowrap;
      background: #fff;
      border: 1px solid #d3d3d3;
      overflow: hidden;
      img {
        max-width: 100%;
        max-height: 100%;
        display: inline-block;
        vertical-align: middle;
      }
      i {
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 100px;
      }
    }
    dl {
      overflow: hidden;
      dt {
        margin-bottom: 16px;
        font-size: 14px;
        font-weight: 700;
        color: #666;
        a {
          color: #666;
        }
      }
      dd {
        margin-bottom: 12px;
        color: #999;
      }
    }
  }

  .icon-bike {
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 20px;
    background: url(../images/sprites.png) -120px -300px no-repeat;
  }

  .icon-hand {
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 12px;
    background: url(../images/sprites.png) -120px -250px no-repeat;
  }
  .icon-letter {
    display: inline-block;
    vertical-align: middle;
    width: 13px;
    height: 11px;
    background: url(../images/sprites.png) -140px -250px no-repeat;
  }
  .icon-qq {
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 20px;
    background: url(../images/sprites.png) -120px -270px no-repeat;
    strong {
      display: none;
    }
  }
  .icon-sina {
    display: inline-block;
    vertical-align: middle;
    width: 21px;
    height: 20px;
    background: url(../images/sprites.png) -150px -270px no-repeat;
    strong {
      display: none;
    }
  }

  .icon-km {
    position: relative;
    left: -10px;
    padding-left: 5px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    b {
      position: relative;
      left: 5px;
      display: inline-block;
      width: 170px;
      height: 28px;
      line-height: 26px;
      text-align: left;
      font-size: 18px;
      font-weight: 400;
      text-indent: 8px;
      letter-spacing: .5em;
      color: #fff;
      background: url(../images/sprites.png) 0 -80px no-repeat;
    }
  }
}
