@import "compass/css3";
.bk-wrap {
  padding: 10px 0;
  background: url(../images/bk-main-bg-repeat.png);
  hr {
    margin: 0 auto;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff;
  }
}

@import 'mods/icons';
@import 'mods/head';
@import 'mods/foot';
@import 'mods/banner';
@import 'mods/intro';
@import 'mods/about';
@import 'mods/activity-list';
@import 'mods/club-list';
@import 'mods/club-list2';
@import 'mods/club-list3';
@import 'mods/club-home';
@import 'mods/person-center';
@import 'mods/mileage';
